@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        <BlazoredToasts Position="ToastPosition.BottomRight"
                        Timeout="3"
                        IconType="IconType.Material"
                        ErrorIcon=""
                        InfoIcon=""
                        SuccessIcon=""
                        WarningIcon=""
                        ShowProgressBar="true"
                        />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
