<nav class="navbar fixed-bottom navbar-light bg-light container">
    <div class="container">
        Copyright &copy; @DateTime.Now.Year - <a target="_blank" href="http://www.superioressex.com/template.aspx?id=498">Superior Essex Inc. All Rights Reserved</a>
        <span class="right" style="float: right; position:relative"><a target="_blank" href="https://spsx.sysaidit.com/Home.jsp?notAddingIndexJSP=false">SysAid</a> - <a target="_blank" href="#">User Guide</a></span>
    </div>
</nav>